html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
}
/* #root {
  display: flex;
} */

.str-chat__channel-list {
  width: 30%;
}
.str-chat__channel {
  width: 100%;
}
.str-chat__thread {
  width: 45%;
}

.str-chat{

position: fixed;

max-width: 30%;

max-height: 50%;

border-radius: 2rem;

}

.container-chat{


   z-index: 999;
  
  position: fixed;

  right: 33%;
  bottom: 53%;

}

.str-chat__channel-header, .str-chat__message-input{


  border-radius: 2rem;


}
