.item-card{

    width: 20rem;
    height: 20rem;
    margin-bottom: 1rem;
}

.container-cards-products{

    display:grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    

    align-items: center;

    justify-content: center;

    width: 100%;

    margin : 0 0;


}